/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Custom designs */
@import url(style_temples/banner.css);
@import url(style_temples/button.css);
@import url(style_temples/card.css);
@import url(style_temples/container.css);
@import url(style_temples/footer.css);

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
  color: white;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
